{% extends 'base/base.html' %}
{% load static %}


{% block title %}
  Cart
{% endblock %}

{% block links_css %}
    <link rel="stylesheet" href="{% static 'c_assets/css/c_extra.css' %}">
{% endblock %}

{% block main %}

    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">
            оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current">
                <span>
                  оформление заказа
                </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Overall progress
              </strong>
            </header>
            <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                <li class="menu-item_ACTIVE menu-item">
                    <a class="menu-link" href="{% url 'ordering-step-one-anonym' %}">
                        Step 1. User requisites
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">
                        Step 2. Way of delivery
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">
                        Step 3. Payment method
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">
                        Step 4. Order confirmation
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <form class="form" action="{% url 'ordering-step-one-anonym' %}" method="post">
              {% csrf_token %}
            <div class="Order-block Order-block_OPEN" id="step1">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Step 1. User requisites
                </h2>
              </header>
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="fullname">
                        Fullname
                    </label>
                    <input class="form-input" id="fullname" name="fullname" type="text"/>
                  </div>
                  <div class="form-group require-field">
                    <label class="form-label" for="phone">
                        Phone
                    </label>
                      {{ form.phone }}
                      <span class="form-error">
                          {{form.errors.phone}}
                      </span>
                  </div>
                  <div class="form-group require-field">
                    <label class="form-label" for="mail">
                        E-mail
                    </label>
                      {{ form.email }}
                      <span class="form-error">
                          {{form.errors.email}}
                      </span>
                  </div>
                </div>
                <div class="row-block">
                  <div class="form-group require-field">
                    <label class="form-label" for="password">
                        Password
                    </label>
                    {{ form.password1 }}
                  </div>
                  <div class="form-group require-field">
                    <label class="form-label" for="passwordReply">
                        Confirm Password
                    </label>
                    {{ form.password2 }}
                    <span class="form-error">
                        {{form.errors.password2}}
                    </span>
                  </div>
                  <div class="form-group">
                      <a class="btn btn_muted Order-btnReg" href="{% url 'login' %}">
                          I've been already registered
                      </a>
                  </div>
                </div>
              </div>
              <div class="Order-footer">
                <button class="btn btn_success custom_login_btn-success" type="submit">
                    Next
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}