{% extends 'base/base.html' %}
{% load static %}


{% block title %}
  Cart
{% endblock %}

{#{% block links_css %}#}
{#    <link rel="stylesheet" href="{% static 'c_assets/css/c_extra.css' %}">#}
{#{% endblock %}#}

{% block main %}

    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">
            оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current">
                <span>
                  оформление заказа
                </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

        <div class="Section Section_column Section_columnRight Section_columnWide Order">
          <div class="wrap">
            <div class="Section-column">
              <div class="Section-columnSection">
                <header class="Section-header">
                  <strong class="Section-title">
                      Overall progress
                  </strong>
                </header>
                <div class="Section-columnContent">
                  <ul class="menu menu_vt Order-navigate">
                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'ordering-step-one' %}">
                            Step 1. User requisites
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'ordering-step-two' %}">
                            Step 2. Way of delivery
                        </a>
                    </li>
                    <li class="menu-item_ACTIVE menu-item">
                        <a class="menu-link" href="{% url 'ordering-step-three' %}">
                            Step 3. Payment method
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="">
                            Step 4. Order confirmation
                        </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="Section-content">
              <form class="form" action="{% url 'ordering-step-three' %}" method="post">
                  {% csrf_token %}
                  <div class="Order-block Order-block_OPEN" id="step3">
                      <header class="Section-header Section-header_sm">
                        <h2 class="Section-title">
                            Step 3. Payment method
                        </h2>
                      </header>
                      <div class="form-group">
                          {{ form.payment_method }}
                      </div>
                      <div class="Order-footer">
                        <button class="btn btn_success custom_login_btn-success" type="submit">
                            Next
                        </button>
                      </div>
                  </div>
              </form>
            </div>
          </div>
        </div>


{% endblock %}