{% extends 'base/base.html' %}
{% load static %}


{% block title %}
  Cart
{% endblock %}

{#{% block links_css %}#}
{#    <link rel="stylesheet" href="{% static 'c_assets/css/c_extra.css' %}">#}
{#{% endblock %}#}

{% block main %}

    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">
            оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current">
                <span>
                  оформление заказа
                </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Overall progress
              </strong>
            </header>
            <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                <li class="menu-item">
                    <a class="menu-link" href="">
                        Step 1. User requisites
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">
                        Step 2. Way of delivery
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../step3">
                        Step 3. Payment method
                    </a>
                </li>
                <li class="menu-item_ACTIVE menu-item">
                    <a class="menu-link" href="../step4">
                        Step 4. Order confirmation
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Section-content">
            <div class="Order-block Order-block_OPEN" id="step4">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">
                    Step 4. Order confirmation
                </h2>
              </header>
              <!--+div.Order.-confirmation-->
              <div class="Order-infoBlock">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <div class="Order-info">
                        <div class="Order-infoType">
                            Fullname
                        </div>
                        <div class="Order-infoContent">
                            {{ order.fullname }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">
                            Phone:
                        </div>
                        <div class="Order-infoContent">
                            {{ order.phone }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">
                            Email:
                        </div>
                        <div class="Order-infoContent">
                            {{ order.email }}
                        </div>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">
                            Delivery:
                        </div>
                        <div class="Order-infoContent">
                            {{ order.get_delivery_display }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">
                            City:
                        </div>
                        <div class="Order-infoContent">
                            {{ order.city }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">
                            Address:
                        </div>
                        <div class="Order-infoContent">
                            {{ order.address }}
                        </div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">
                            Payment:
                        </div>
                        <div class="Order-infoContent">
                            {{ order.get_payment_method_display }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Cart Cart_order">
                  {% for product in order.order_products.all %}
                    <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_pict">
                              <a class="Cart-pict" href="#">
                                  <img class="Cart-img" src="{{ product.product.image_url }}" alt="card.jpg"/>
                              </a>
                          </div>
                          <div class="Cart-block Cart-block_info">
                              <a class="Cart-title" href="#">
                                  {{ product.product.name }}
                              </a>
                            <div class="Cart-desc">
                                {{ product.product.description|truncatechars:30 }}
                            </div>
                          </div>
                          <div class="Cart-block Cart-block_price">
                            <div class="Cart-price">
                                {{ product.product.price }}₽
                            </div>
                          </div>
                        </div>
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_amount">
                              {{ product.quantity }} шт.
                          </div>
                        </div>
                    </div>
                  {% endfor %}
                  <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">
                          Delivery:
                      </strong>
                      <span class="Cart-price">
                          {{ order.delivery_cost }}₽
                      </span>
                    </div>
                  </div>
                  <div class="Cart-total" style="border-color: transparent; padding-top: 0">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">
                          Total:
                      </strong>
                        <span class="Cart-price">
                            {{ order.final_total_sum }}₽
                        </span>
                    </div>
                    <div class="Cart-block">
                      <a class="btn btn_primary btn_lg" href="{% url 'payment' order.id %}">
                          Pay
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>


{% endblock %}